

$main-color :#a02aeb;
$sub-color :#222833;


//이미지 경로
$mimg: "../images/main";
$simg: "../images/sub";
$iimg: "../images/icon";


@mixin transition ($ani, $speed, $delay:0s ,$easing:ease) {
    -webkit-transition:$ani $speed $delay $easing;
    -moz-transition:$ani $speed $delay $easing;
    -ms-transition:$ani $speed $delay $easing;
    -o-transition:$ani $speed $delay $easing;
    transition:$ani $speed $delay $easing;
}
//기본, 마우스오버, 액티브 컬러값
@mixin link ($color, $hover, $active) {
    color: $color;
    &:hover, &:focus {
      color: $hover;   
    }
    &.active {
      color: $active;
    }
}
//before bar

@mixin bar-before ($color, $width, $height, $top, $padding) {
    padding-left:$padding;
    &:before{
      position: absolute;
      content: '';
      width:$width;
      height:$height;
      top:$top;
      left:0;
      background:$color;
    }
}

//before dot

@mixin dot-before ($color, $width, $height, $top, $padding) {
  padding-left:$padding;
    &:before{
      position: absolute;
      content: '';
      width:$width;
      height:$height;
      top:$top;
      left:0;
      background:$color;
    }
}


//비쥬얼 bg
@mixin visual ($height, $num, $name, $file, $bg-po1, $bg-po2) {
  height:$height;
   @for $i from 1 through $num{
    &.#{$name}#{$i}{
      background:url(#{$main_path}/#{$name}#{$i}.#{$file}) no-repeat $bg-po1 $bg-po2;
    }
  }
}

@mixin subvisual ($num, $name, $file) {
   @for $i from 1 through $num{
    &.#{$name}#{$i}{
      background-image:url(#{$sub_path}/#{$name}#{$i}.#{$file});
    }
  }
}
//bg

@mixin bg ($num, $name, $bg-name, $file, $bg-po1, $bg-po2, $bg-size, $path) {
   @for $i from 1 through $num{
    &.#{$name}#{$i}{
      background:url(../images/#{$path}/#{$bg-name}#{$i}.#{$file}) no-repeat $bg-po1 $bg-po2;
      background-size: $bg-size;
    }
  }
}

@mixin inbg ($chlid ,$num, $name, $bg-name, $file, $path) {
   @for $i from 1 through $num{
    &.#{$name}#{$i}{
      .#{$chlid}{
        background:url(../images/#{$path}/#{$bg-name}#{$i}.#{$file});
      }
    }
  }
}

@mixin bg-img ($num, $name, $bg-name, $file, $path) {
   @for $i from 1 through $num{
    &.#{$name}#{$i}{
      background-image:url(../images/#{$path}/#{$bg-name}#{$i}.#{$file});
    }
  }
}
/*오버시 변환 버튼*/
@mixin overbtn ($border, $back, $color, $h-back, $h-color) {
  border:$border;
    background:$back;
    color:$color;
  &:hover, &:focus{
    border:$border;
    background:$h-back;
    color:$h-color;
  }
}


//스크롤바
@mixin scrollbars($size, $radius,  $foreground-color, $background-color:#ffffff) {
  &::-webkit-scrollbar {
      width:$size;
      height: $size;

  }

  &::-webkit-scrollbar-thumb {
      background-color: $foreground-color;
      -webkit-border-radius:$radius;
  }

  &::-webkit-scrollbar-track {
      background-color: $background-color;
      -webkit-border-radius:$radius;
  }

}

$media: screen;
$feature: max-width;
$pc:1200px;
$tablet_row:1024px;
$tablet: 850px;
$phone: 640px;

@mixin size($value) {
  @if $value == xlg {
    // @media screen and (max-width: 1200px)
    @media #{$media} and ($feature: $pc) {
      @content; // Yield the content inside the @include
    }
  }
  @else if $value == lg {
    // @media screen and (max-width: 1024px)
    @media #{$media} and ($feature: $tablet_row) {
      @content; // Yield the content inside the @include
    }
  }
  @else if $value == sm {
    // @media screen and (max-width: 850px)
    @media #{$media} and ($feature: $tablet) {
      @content;
    }
  }
  @else if $value == xs {
    // @media screen and (max-width: 640px)
    @media #{$media} and ($feature: $phone) {
      @content;
    }
  }
}


@mixin txtcut($height, $line_h, $clamp){
  height:$height;
  line-height: $line_h;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
}