@charset "utf-8";
/* 수정하지 마세요 개별적으로 사용시엔 style.css에 해주시기 바랍니다. */

/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
 */
/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
 */


@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}
 
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
 }






@font-face {
  font-family: "NanumSquare";
  src: url("../font/NanumSquare.eot") format("eot"),
       url("../font/NanumSquare.woff") format("woff"), 
       url("../font/NanumSquareB.eot") format("eot"),
       url("../font/NanumSquareB.woff") format("woff"),
       url("../font/NanumSquareB.ttf") format("ttf"),
       url("../font/NanumSquareEB.eot") format("eot"),
       url("../font/NanumSquareEB.woff") format("woff"),
       url("../font/NanumSquareEB.ttf") format("ttf"),
       url("../font/NanumSquareL.eot") format("eot"),
       url("../font/NanumSquareL.woff") format("woff"),
       url("../font/NanumSquareL.ttf") format("ttf"),
       url("../font/NanumSquareR.eot") format("eot"),
       url("../font/NanumSquareR.woff") format("woff"),
       url("../font/NanumSquareR.ttf") format("ttf");
}
/*
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);*/




/*세팅*/

html,body,div,span,input,select,textarea,button,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,code,del,dfn,em,font,img,ins,kbd,q,s,samp,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,header,section,footer {
border:0;
margin:0;
padding:0;

}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td,button,textarea,select {margin:0;padding:0;}

h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal}
img {border:0;vertical-align:top; max-width:100%;}
ul,ol,dl,dt,dd,li {list-style:none;}
table, th, td {border-collapse:collapse;border-spacing:0;font-weight: normal;}
/*caption {display:block;text-indent:-9999em;overflow:hidden;height:0;font-size:0;line-height:0;}*/
fieldset, blockquote, iframe, button {border:none;}
i, em, u, cite {font-style:normal;}
strong,em, b {font-weight:no:;rmal;}
a {color:#777;text-decoration:none;}
a:hover,a:focus{text-decoration: none !important;  }
img,fieldset{border:0;outline:none}
input,button{
  outline:none;
}
body {
 font-size:15px;
 font-family: 'NanumSquare';
 font-weight: 600;
/*  width:100%;*/
  color:#666;
/*  // overflow: hidden;*/
  overflow-y: auto;
  line-height:1.5;
  -webkit-text-size-adjust:none;
}

/*input 태크*/

input {
  font:inherit;
  margin: 0;
/*  vertical-align: middle;
  border: solid 1px #ccc;
  background: #fff;*/
  line-height: normal;
  -webkit-border-radius: 0;
  resize: none;
}
button {background:transparent;cursor:pointer;vertical-align:middle;margin:0;}
button,input[type="submit"], input[type="button"], input[type="reset"] 
{cursor:pointer;-webkit-appearance:none;}
section, nav, article, aside, header, footer, main {display:block;}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {display:none;}
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="password"]{-webkit-appearance:none;border-radius:0}
input[placeholder] {font-family:inherit;}
::-webkit-input-placeholder {color: #aaa;}
::-moz-placeholder {color: #aaa;}
:-ms-input-placeholder {color: #aaa;}
:-moz-placeholder {color: #aaa;}
::-ms-clear,
::-ms-reveal {display: none;}
select, textarea, button {font:inherit;-webkit-appearance: none;border-radius: 0}


input[type="text"],
input[type="password"],
input[type="file"],
select{
  height:30px;
  line-height:30px;
  margin: 0;
  vertical-align: middle;
  border: solid 1px #ccc;
  background: #fff;
  -webkit-border-radius: 0;
  resize: none;
  text-indent:8px;
}

input[type="file"]{width:100%;padding:0;line-height:normal}
textarea{background:#fbfbfb;border:1px solid #ebebeb;padding:5px;width:99%;}

select{ 
  height:28px;  
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-overflow: '';
  zoom:1  
}

input[type="checkbox"] {
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  background: #fff;
      vertical-align: middle;
}
input[type="radio"] {
  width: 14px;
  height: 14px;
  border: solid 1px #ccc;
  background: #fff;
  border-radius: 20px;
  vertical-align: middle;
  margin-right:5px;
}
input[type="image"] {
  border: none;
  background: 0;
}
input[type="submit"] {
  width: 260px;
  border: 1px solid #ccc;
  font-size: 1em;
  line-height: 1.5;
  color: #666;
}



option{
  border:solid 1px #ccc;
  margin:0;
}

label{
  margin:0;
  font-weight: normal;
  vertical-align:middle;
}

textarea{
  margin:0;
  border:solid 1px #ccc;
}
button{
  margin:0;
  padding:0;
  vertical-align: middle;
}


