


/* 제품보기 팝업 */
.mfp-content {
  text-align: center;
}
.pop-con {
  position: relative;
  display: inline-block;
}
.pass-pop-box {
  width: 400px;
}
.pass-pop-box .pass-pop-head {
  position: relative;
  padding: 10px;
  background-color: #e3444f;
  border: solid 1px #e3444f;
  color: #fff;
}
.pass-pop-box .pass-pop-content {
  padding: 20px 10px 20px 10px;
  background-color: #fff;
  border: solid 1px #e3444f;
}
.pass-pop-box .btn-pass-01 {
  display: inline-block;
  padding: 4px 25px;
  color: #fff;
  background-color: #151515;
  border-radius: 5px;
  font-size: 15px;
}
.pop-con.close-02 .mfp-close {
  color: #fff;
}


/*모달(레이어팝업) 수정*/
.modal_standard {
  position: fixed;
  left: 0;
  top: 0;
  display: table;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.modal-dialog {
  margin: 0 auto;
}
.modal_wrap {
  display: table-cell;
  vertical-align: middle;
  position: static;
  top: 50%;
}
.modal_con {
  min-height: 50px;
}
.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 35px;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
}
@media (min-width: 768px) {
  .modal-dialog {
    margin: 0 auto;
    display: inline-block;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

/*레이어팝업*/
.mfp-content {
  text-align: center;
}
.pop-con {
  position: relative;
  display: inline-block;
  padding: 30px 10px 10px 10px;
  background-color: #fff;
}
.pass-pop-box {
  width: 400px;
}
.pass-pop-box .pass-pop-head {
  position: relative;
  padding: 10px;
  background-color: #e3444f;
  border: solid 1px #e3444f;
  color: #fff;
}
.pass-pop-box .pass-pop-content {
  padding: 20px 10px 20px 10px;
  background-color: #fff;
  border: solid 1px #e3444f;
}
.pass-pop-box .btn-pass-01 {
  display: inline-block;
  padding: 4px 25px;
  color: #fff;
  background-color: #151515;
  border-radius: 5px;
  font-size: 15px;
}
.pop-con.close-02 .mfp-close {
  color: #fff;
}

.mfp-close {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}

.modal {
  overflow:hidden;
}

.modal.start_pop{
  position: absolute;
  top: 110px;
  left: 10px;
  width: auto;
  height: auto;
  right: auto;
  bottom: auto;
}

.modal.start_pop .modal_standard {
  position: relative;
  display: block;
  width: auto;
  height: auto;
}
.modal.start_pop .modal_wrap{
display:block;  
}
.modal.start_pop .modal_standard .modal-dialog{
  max-width:800px;
  width:95%;
}
.modal.start_pop .modal_standard .modal-dialog .modal-header {
  cursor: move;
  border-bottom: solid 1px #ddd;
  padding:5px 0;
}
.modal.start_pop .modal_standard .modal-dialog .modal-body{
  padding:0;
}
.modal.start_pop .modal_standard .modal-dialog .modal-footer{
  padding:5px 10px;
}
@media all and (max-width: 1024px) {
  .modal.start_pop {
    left: 0px !important;
    width:100%;
  }
  .modal.start_pop .modal_standard .modal-dialog{
  margin:0 auto;
}
  
}